[flake8]

#   E123: "closing bracket does not match indentation of opening bracket's line"
#   E741: "ambiguous variable name 'l'" -- we want to decide this on our own for now
ignore = E123,E741,W503

exclude = .git, _build

# Despite of this rather relaxed line length limitation set here,
# contributors are strongly encouraged to adhere to an 80 character limit.
max-line-length = 95

